{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}



    <section class="section">
      <div class="row">
        <div class="col-lg-5">

          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Add Staff</h2>
              <!-- General Form Elements -->
              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
               
                <div class="row mb-3">
                  <div class="col-sm-7">
                    {{form.username | as_crispy_field}} 
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-5">
                   {{form.first_name | as_crispy_field}}
                  </div>
            
                  <div class="col-sm-5">
                    {{form.last_name | as_crispy_field}}
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-7">
                    {{form.email | as_crispy_field}}
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-7">
                    {{form.dob | as_crispy_field}}
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-7">
                    {{form.contact_number | as_crispy_field}}
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-7">
                    {{form.gender | as_crispy_field}}
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-7">
                    {{form.profile | as_crispy_field}}
                  </div>
                    {{form.password | as_crispy_field}}
                  
                </div>
          
              
                <input type="submit" class="btn btn-primary" value="Submit" >

              </form>

              <br>

              <a href="{% url 'stafflist' %}">show All Staff</a>
 
            </div>
          </div>

        </div>

   
      </div>
    </section>
{% endblock %}