{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<table id="customer_id" class="table table-hover">

    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Aadhar_No</th>
            <th>Pan_No</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Contect_no</th>
            <th>Dob</th>
            <th>Action</th>

        </tr>
    </thead>

</table>

<script>
    $('#customer_id').DataTable({
       
        columnDefs: [{
            orderable: false,
            targets: -1
        }, ],
    
        // Ajax for pagination
        processing: true,
        serverSide: true,
        ajax: {
            url: '{% url "customer_list_ajax" %}',
            type: 'get',
        },
        columns: [
            // data: json key from prepare_results, name: model field name

            { data: 'id', name: 'id'},
            { data: 'username', name: 'username' },
            { data: 'first_name', name: 'first_name' },
            { data: 'last_name', name: 'last_name' },
            { data: 'adhar_no', name: 'adhar_no' },
            { data: 'pan_no', name: 'pan_no' },
            { data: 'email', name: 'email' },   
            { data: 'gender', name: 'gender' },
            { data: 'contact_number', name: 'contact_number' },
            { data: 'dob', name: 'dob' },
            { data: 'actions', name: 'actions' }

            
        ]
        
    });
</script>

<script>
    $(document).on('click', '.ajax-delete-btn', function (e) {
        var id = $(this).data("id");
        var url = "{% url 'customer_delete' %}";
        console.log(url);

        var delete_ele = $(this);

        Swal.fire({
            html: 'Are you sure you want to delete',
            icon: 'question',
            showCloseButton: true,
            showCancelButton: true,
            confirmButtonColor: "#7442DB",
        }).then((result) => {

        /* Read more about isConfirmed, isDenied below */
        
        if (result.isConfirmed) {
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    "id": id,
                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                },
                
                success: function (data) {
                
                    delete_ele.parent().parent().remove();
                    
                }
            });
        };
    });
        })
    
</script>
<script src="{% static 'User/js/sweetalert.js' %}"></script>

{% endblock %}
