{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags   %}

    <section class="section">
      <div class="row">
        <div class="col-lg-5">

          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Transfer Money</h2>
              <hr>
              <!-- General Form Elements -->
  


              <form action="" method="post">
                {% if messages %}
                <ul class="messages alert alert-success">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                
                {% csrf_token %}
                <div class="row mb-3">
                  <div class="col-sm-7">
                    {{form.accounts_type | as_crispy_field}}
                  </div>
                </div>
          
                <div class="row mb-3">
                  <div class="col-sm-7">
                    {{form.from_account_number | as_crispy_field}}
                  </div>
                </div>
          
                <div class="row mb-3">
                  <div class="col-sm-7">
                    {{form.to_account_number | as_crispy_field}}
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-7">
                    {{form.amount | as_crispy_field}}
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-sm-7">
                    {{form.security_pin | as_crispy_field}}
                  </div>
                </div>
                
              
                <input type="submit" class="btn btn-primary" value="Submit">

              </form>
            </div>
          </div>

        </div>

   
      </div>
    </section>


    <script>
      $(document).ready(function() {
        var accountTypeSelect = $('#id_accounts_type');
        var accountNoInput = $('#id_from_account_number');
      
        accountTypeSelect.on('change', function() {
          var selectedAccountType = accountTypeSelect.val();
      
          $.ajax({
            url: "{% url 'create_pin_ajax' %}",  
            method: 'GET',
            data: { 'account_type': selectedAccountType },
            success: function(response) {
              accountNoInput.val(response.account_number);
            },
            error: function() {
              accountNoInput.val('');
            }
          });
        });
      });
      </script>
{% endblock %}